fastapi
uvicorn[standard]
asyncpg
psycopg2-binary
pydantic
pydantic[email]
pydantic-settings
python-dotenv
supabase
python-jose[cryptography]
python-multipart
redis
arq
httpx
slowapi
bcrypt

email-validator
